/* add variables */
:root{

}
/* add global */
*{
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* general body */
body{

}
/* style header */
header{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: cadetblue;
  position:sticky;
  top: 0;
  z-index: 9999;
}

header h1{
  font-size: 38px;
  font-weight: bold;
}

header a{
  text-decoration: none;
  color: black;

}

header nav ul{
  display: flex;
  margin: 0 auto;
}

header nav li{
  list-style: none;
  padding: 5px;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: crimson;
  font-weight: bold;
}


/* style sections */
section{
  padding-top: 100px; /*how to account for sticky header?*/
}

#about{
  background-image: url(../images/self.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

section h2{
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.deployed{
  display:flex;
}

.deployed-list{
  margin: 10px;
  list-style: none;
}

.deployed li{
  margin: 10px 20px;
  list-style: none;
}

.deployed a{
  color: black;
  text-decoration: none;
}

.deployed-img{
  display: flex;
  flex-wrap: wrap;
}

.primary-img img{
  width: 100%;
}

.secondary-img img{
  width:50%;
}