:root {
  --maincolor: #e47e2bb2;
  --secondarycolor: #4165cf;
  --hovercolor: #2afa17;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #d3d6d0;
}

/* header and nav */
header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--maincolor);
  border: 2px solid var(--secondarycolor);
}

header h1 {
  font-size: 38px;
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: black;

}

header nav ul {
  display: flex;
  margin: 0 auto;
}

header nav li {
  list-style: none;
  padding: 5px;
  margin: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: var(--secondarycolor);
  font-weight: bold;
  font-size: 16px;
}

/* general sections */

.section-areas {
  display: flex;
  flex-wrap: wrap;
}

.section-areas h2 {
  background-color: var(--secondarycolor);
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  width: 100%;
  margin: 0;
  border: 2px solid var(--maincolor);
}

/* ABOUT SECTION */
#about {
  background-image: url(../images/self.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.me {
  padding-top: 200px;
  /* SPACE FOR MY BACKGROUND*/
  display: flex;
  flex-wrap: wrap;
}

.me p {
  display: flex;
  width: 100%;
  text-align: center;
}

/* EXPERIENCE SECTION */
.deployed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.deployed-list {
  list-style: none;
  border: 2px solid var(--maincolor);
  width: 100%;
  background-color: var(--maincolor);
}

.deployed-list p {
  font-size: 12px;
  text-align: center;
}

.deployed-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.deployed li {
  margin: 10px 20px;
  list-style: none;
}

.deployed a {
  color: black;
  text-decoration: none;
  color: var(--secondarycolor);
}

.deployed-img {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.abox {
  border: 2px solid var(--secondarycolor);
  max-height: 150px;
  min-height: 150px;
  width: 50%;
  display: flex;
  background-position: center;
  background-size: cover;
}

.abox span {
  background-color: var(--maincolor);
}

.abox:first-child {
  width: 100%;
  max-height: 300px;
  min-height: 300px;
}

.abox:hover {
  border: 5px double var(--hovercolor);
}

#run-buddy {
  background-image: url(../images/run-buddy.png);
}

#horiseon {
  background-image: url(../images/horiseon-marketing.png);
}

#my-wedding {
  background-image: url(../images/wedding.jpg);
}

#password {
  background-image: url(../images/lock.png);
  background-color: var(--secondarycolor);
  background-size: 10%;
}

#my-git {
  background-image: url(../images/github.png);
}

/* CONTACT SECTION */
.contact-info {
  padding-left: 10px;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

/* RESUME SECTION */
#resume {
  background-image: url(../images/under-construction.svg);
  background-size: 10%;
  background-position: center;
}

#resume p {
  color: #fff;
  background-color: #000;
}

/* FOOTER SECTION */
footer {
  display: flex;
  justify-content: center;
  background-color: var(--maincolor);
  margin: 0;
  border: 2px solid var(--secondarycolor);
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul li a {
    font-size: 14px;
  }

  .deployed-list ul {
    justify-content: center;
  }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .deployed-img {
    flex-direction: column;
  }

  .abox {
    width: 100%
  }

}